[Unit]
Description=OPC Server Service
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/Desktop/ABB_Projekt/run_opc_server.sh
WorkingDirectory=/home/pi/Desktop/ABB_Projekt
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
